
.icon-check-circle:before { content: '\e800'; } /* '' */
.icon-cloud-dis:before { content: '\e801'; } /* '' */
.icon-bitcoin-donate:before { content: '\e802'; } /* '' */
.icon-group:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */